
.nav-item{
    margin: 7px;
    color: #f1f1;
    width: 245px;
    height: 35px;
    left: 1184px;
    top: 235px;
    background:  #D3DDE7;
    border-radius: 4px 4px 0px 0px;
}
.nav-link {
    color: black !important;
    background-color:  #D3DDE7!important;
  }
  .nav{
    height: 35px;
  }