a.nav-link{
    font-size: 15px;
    color: #fff !important;
    text-decoration: none;
}
.navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.70rem !important;
        color: #ffffff !important;
        text-decoration: none;
        white-space: nowrap;
    }
    body{
        /* overflow: hidden; */
        background-color: #2a3541 !important;
    }
    .dot{
        color: rgb(236, 5, 5);
    }

h2{
        text-align: center;
        color: #2a3541;
        font-size: 1.5em !important;
    }
    .planner {
    background-color: #ffffff;
        width: 580px;
            height: 265px;
            right: 20px;
            left: 1184px;
            top: 224px;
            float: right;
            border-radius: 10px;
            border: 2px #ddd;
    }
    .forms{
        display: grid !important; 
    place-items: center !important;
       }
    .checkbox{
        display: inline-block;
        width: 345px;
        height: 24px;
        left: 1224px;
        top: 304px;
        height: 35px;
    }
    .select{
        display:inline-block;
        box-sizing: border-box;
        width: 364px;
        height: 56px;
        left: 0px;
        top: 20px;
        border-radius: 4px;
    }
    .input{
        display: inline;
        width: 364px;
        height: 100px;
        left: 1224px;
        top: 468px;
    }
    .container-bottom{
        display: grid;
        place-content: center; 
        height: 90px;
        left: 1184px;
        top: 580px;
        font-size: 1.6rem;
        background: #FFFFFF;
        box-shadow: 2px 2px 16px rgba(38, 43, 55, 0.25);
        border-radius: 0px 0px 4px 4px;
    }
    .button{
        font-size: 2.6rem !important;
        text-align: center !important;
    }
    /* .planner{
        float: right;
        border: 2px #ddd;
        border-radius: 10px;
        background-color: white;
        padding: 0px; 
        height: 265px;
        width: 580px;
        top: 224px;
        left: 1184px;
    }
    
    
    .firstcard{
        background-color: #7C8DA1;
        width: 542px;
        height: 330px;
        float: left;
        font-size: 2.3rem;
        top: 553px;
        left: 100px;

    }
    .card-text{
        color: #ffffff;
        text-align: center;
        justify-content: center;
        align-items: center;
    } */